<!-- <input class="row" type="text">
<b>test</b>
<div class="row">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
</div> -->

<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">page size:</label>
    <input type="text" class="form-control pageSize" placeholder="25 by default">
  </div>
  <button class="btn btn-default">Set</button>
</form>